@media (max-width: 900px) {

    .box-left {
        width: 100vw;
        height: 50vh;
        padding: 0;
        margin: 0;
    }

    .box-left h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px;
        text-align: center;
    }

    .box-left p {
        font-size: 14px;
        line-height: 24px;
        margin: 15px 40px;
        width: auto;
        text-align: center;
    }

    .box-left button {
        margin: 0 auto;
        display: block;
    }

    .box-rigth {
        display: block;
        width: 100vw;
        height: 50vh;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-rigth header {
        display: none;
    }

    .box-rigth img {
        position: static;
        max-width: 90%;
    }
}

@media (max-width: 400px){
    .box-left h1 {
        margin: 10px 50px;
    }
}